@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Cooper';
  src: url('./fonts/coopero.ttf') format('tff');
  font-weight: 100;
  font-style: light;
}
@font-face {
  font-family: 'Sec';
  src: url('./fonts/fonnts.com-64029/fonts/sec.ttf') format('tff');
  font-style: normal;
}
.Cooper {
  font-family: 'Cooper',sans-serif;
}
.Mono {
  font-family: 'Sec',sans-serif;
  font-style: normal; 
}
*{
    @apply font-normal Cooper
}