@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Cooper';
  src: url('./fonts/cooper.ttf') format('tff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Sec';
  src: url('./fonts/fonnts.com-64029/fonts/sec.ttf') format('tff');
  font-style: normal;
}
.Cooper {
  font-family: 'StratosBold',sans-serif;
  font-style: normal; 
}
.Mono {
  font-family: 'Sec',sans-serif;
  font-style: normal; 
}
*{
    @apply font-normal Mono
}